<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>	
	<body>
		<div>
			<table style="width: 655px; height: 20px;">
				<tbody>
					<tr style="height: 20px;">
						<td style="width: 130px; height: 20px;"><img src="##LOGO##"></td>
						<td style="width: 509px; height: 20px;">##NOMEEMPRESA##</td>
					</tr>
				</tbody>
			</table>
		</div>	
		<div>
			<h4>Cadastro</h4>
			<div>
				<table style="border-collapse: collapse;width: 100%;height: 50px; margin-bottom: 20px;">
					<tr style="height: 18px;">
						<td style="width: 33.33%;height: 18px;">Título</td>
						<td style="width: 33.33%; height: 18px;"></td>
						<td style="width: 33.33%; height: 18px;">Processo</td>
					</tr>
					<tr style="height: 18px;">
						<td style="width: 33.33%; height: 18px;">##TITULO##</td>
						<td style="width: 33.33%; height: 18px;"></td>
						<td style="width: 33.33%; height: 18px;">##PROCESSO##</td>
					</tr>
				</table>
				
				<table style="border-collapse: collapse;width: 100%;height: 50px; margin-bottom: 20px;">
					<tr style="height: 18px;">
						<td style="width: 25%;height: 18px;">Responsável</td>
						<td style="width: 25%; height: 18px;">Data Emissão</td>
						<td style="width: 25%; height: 18px;">Data de Vencimento</td>
						<td style="width: 25%; height: 18px;">Data de Notificação</td>
					</tr>
					<tr style="height: 18px;">
						<td style="width: 25%; height: 18px;">##RESPONSAVEL##</td>
						<td style="width: 25%; height: 18px;">##DATAEMISSAO##</td>
						<td style="width: 25%; height: 18px;">##DATAVENCIMENTO##</td>
						<td style="width: 25%; height: 18px;">##DATANOTIFICACAO##</td>
					</tr>
				</table>
				
				<table style="border-collapse: collapse;width: 100%;height: 50px; margin-bottom: 20px;">
					<tr style="height: 18px;">
						<td style="width: 100%;height: 18px;">Observação</td>
					</tr>
					<tr style="height: 18px;">
						<td style="width: 100%; height: 18px;">##OBS##</td>						
					</tr>
				</table>
				</div>
		</div>		
	</body>
</html>