<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
	<div>
		<table style="width: 655px; height: 20px;">
			<tbody>
				<tr style="height: 20px;">
					<td style="width: 130px; height: 20px;"><img src="##LOGO##" /></td>
					<td style="width: 509px; height: 20px;">##NOMEEMPRESA##</td>
				</tr>
			</tbody>
		</table>
	</div>
    
    <div>
		<h4>Cadastro</h4>
		<div>
			<table style="border-collapse: collapse; width: 100%;">
				<tbody>
					<tr style="height: 18px;">
						<td>Revisão</td>
						<td>Titulo Documento</td>
						<td>Sigla</td>
					</tr>
					<tr style="height: 18px;">
						<td>##REVISAO##</td>
						<td>##TITULO##</td>
						<td>##SIGLA##</td>
					</tr>
					<tr style="height: 18px;">
						<td>Numero Documento</td>
						<td>Processo</td>
						<td>Categoria</td>
					</tr>
					<tr style="height: 18px;">
						<td>##NUMERO##</td>
						<td>##PROCESSO##</td>
						<td>##Categoria##</td>
					</tr>
				</tbody>
			</table>
			<p></p>
		</div>

        <div>
            <table style="border-collapse: collapse; width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 100%;"><label>Elaborador</label></td>
                    </tr>
                    <tr>
                        <td style="width: 100%;">##Elaborador##</td>
                    </tr>
                </tbody>
            </table>
            <h4>Texto</h4>
            <p>##TEXTO##</p>
            <h4>Fluxo</h4>
            <p>##FLUXO##</p>
            <h4>Registros</h4>
            <table style="border-collapse: collapse; width: 79.5302%;" border="1">
                <tbody>
                    <tr>
                        <td style="width: 130px;">Identificar</td>
                        <td style="width: 130px;">Armazenar</td>
                        <td style="width: 130px;">Proteger</td>
                        <td style="width: 130px;">Recuperar</td>
                        <td style="width: 130px;">Retenção</td>
                        <td style="width: 130px;">Disposição</td>
                    </tr>
                    ##REGISTROTBL##
                </tbody>
            </table>
            <h4>Rotina</h4>
            <table style="border-collapse: collapse; width: 100%;" border="1">
                <tbody>
                    <tr>
                        <td style="width:130px;">Item</td>
                        <td style="width:130px;">O que</td>
                        <td style="width:130px;">Quem</td>
                        <td style="width:130px;">Registro</td>
                        <td style="width:130px;">Como ?</td>
                    </tr>
                    ##ROTINATBL##
                </tbody>
            </table>
            <h4>Recursos</h4>
            <p>##RECURSO##</p>
            <h4>Riscos</h4>
            <table style="border-collapse: collapse; width: 100%;" border="1">
                <tbody>
                    <tr>
                        <td style="width: 130px;">Identificação do Risco</td>
                        <td style="width: 130px;">Risco</td>
                        <td style="width: 130px;">Necessita de Ação?</td>
                        <td style="width: 130px;">Responsável</td>
                        <td style="width: 130px;">Causa</td>
                        <td style="width: 130px;">Justificativa</td>
                    </tr>
                    ##RISCOTBL##
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>