<table style="width: 655px; height: 20px;">
    <tbody>
        <tr style="height: 20px;">
            <td style="width: 130px; height: 20px;"><img src="##LOGO##" /></td>
            <td style="width: 509px; height: 20px;">##NOMEEMPRESA##</td>
        </tr>
    </tbody>
</table>
<h4>Cadastro</h4>
<div>
    <div>
        <table style="border-collapse: collapse; width: 100%; height: 108px;">
            <tbody>
                <tr style="height: 18px;">
                    <td style="width: 33.3333%; height: 18px;">Revisão</td>
                    <td style="width: 33.3333%; height: 18px;">Titulo Documento</td>
                    <td style="width: 33.3333%; height: 18px;">Sigla</td>
                </tr>
                <tr style="height: 18px;">
                    <td style="width: 33.3333%; height: 18px;">##REVISAO##</td>
                    <td style="width: 33.3333%; height: 18px;">##TITULO##</td>
                    <td style="width: 33.3333%; height: 18px;">##SIGLA##</td>
                </tr>
                <tr style="height: 18px;">
                    <td style="width: 33.3333%; height: 18px;">Numero Documento</td>
                    <td style="width: 33.3333%; height: 18px;">Processo</td>
                    <td style="width: 33.3333%; height: 18px;">Categoria</td>
                </tr>
                <tr style="height: 18px;">
                    <td style="width: 33.3333%; height: 18px;">##NUMERO##</td>
                    <td style="width: 33.3333%; height: 18px;">##PROCESSO##</td>
                    <td style="width: 33.3333%; height: 18px;">##Categoria##</td>
                </tr>
            </tbody>
        </table>
        <p></p>
    </div>
    <div>
        <table style="border-collapse: collapse; width: 100%;" border="">
            <tbody>
                <tr>
                    <td style="width: 100%;"><label>Elaborador</label></td>
                </tr>
                <tr>
                    <td style="width: 100%;">#Elaborador#</td>
                </tr>
            </tbody>
        </table>
        <h4>Texto</h4>
        <p>##TEXTO##</p>
        <h4>Fluxo</h4>
        <p>##FLUXO##</p>
        <h4>Registros</h4>
        <table style="border-collapse: collapse; width: 79.5302%;" border="1">
            <tbody>
                <tr>
                    <td style="width: 16.6667%;">Identificar</td>
                    <td style="width: 16.6667%;">Armazenar</td>
                    <td style="width: 16.6667%;">Proteger</td>
                    <td style="width: 16.6667%;">Recuperar</td>
                    <td style="width: 16.6667%;">Retenção</td>
                    <td style="width: 16.6667%;">Disposição</td>
                </tr>
                ##REGISTROTBL##
            </tbody>
        </table>
        <h4>Rotina</h4>
        <table style="border-collapse: collapse; width: 100%;" border="1">
            <tbody>
                <tr>
                    <td style="width: 20%;">Item</td>
                    <td style="width: 20%;">O que</td>
                    <td style="width: 20%;">Quem</td>
                    <td style="width: 20%;">Registro</td>
                    <td style="width: 20%;">Como ?</td>
                </tr>
                ##ROTINATBL##
            </tbody>
        </table>
        <h4>Recursos</h4>
        <p>##RECURSO##</p>
        <h4>Riscos</h4>
        <table style="border-collapse: collapse; width: 100%;" border="1">
            <tbody>
                <tr>
                    <td style="width: 16.6667%;">Identificação do Risco</td>
                    <td style="width: 16.6667%;">Risco</td>
                    <td style="width: 16.6667%;">Necessita de Ação?</td>
                    <td style="width: 16.6667%;">Responsável</td>
                    <td style="width: 16.6667%;">Causa</td>
                    <td style="width: 16.6667%;">Justificativa</td>
                </tr>
                ##RISCOTBL##
            </tbody>
        </table>
    </div>
</div>