<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></head>
	<body>
		<div>
			<table style="width: 655px; height: 20px;">
				<tbody>
					<tr style="height: 20px;">
						<td style="width: 130px; height: 20px;"><img src="##LOGO##"></td>
						<td style="width: 509px; height: 20px;">##NOMEEMPRESA##</td>
					</tr>
				</tbody>
			</table>
		</div>	
		<div>
			<h4>Identificação Gestão de Risco</h4>
			<div>
				<table style="border-collapse: collapse;width: 100%;height: 50px; margin-bottom: 5px;">
					<tr style="height: 18px;">
						<td style="width: 33.3333%;height: 18px;">Número</td>
						<td style="width: 33.3333%; height: 18px;">Data emissão</td>
						<td style="width: 33.3333%; height: 18px;">Criticidade</td>
					</tr>
					<tr style="height: 18px;">
						<td style="width: 33.3333%; height: 18px;">##NUMERO##</td>
						<td style="width: 33.3333%; height: 18px;">##DATAEMISSAO##</td>
						<td style="width: 33.3333%; height: 18px;">##CRITICIDADE##</td>
					</tr>
				</table>

				<table style="border-collapse: collapse;width: 100%;height: 50px; margin-bottom: 5px;">
					<tr style="height: 18px;">
						<td style="width: 25%; height: 18px;">Processo</td>
						<td style="width: 25%; height: 18px;">Emissor</td>
					</tr>
					<tr style="height: 18px;">
						<td style="width: 25%; height: 18px;">##PROCESSO##</td>
						<td style="width: 25%; height: 18px;">##EMISSORNAOCONFORMIDADE##</td>
					</tr>
				</table>
				<table style="border-collapse: collapse;width: 100%;height: 50px; margin-bottom: 50px;">
					<tr style="height: 18px;">
						<td style="width: 33%; height: 18px;">Responsável por análise e definição de ação imediata</td>
					</tr>
					<tr style="height: 18px;">
						<td style="width: 33%; height: 18px;">##RESPONSAVELANALISEDEFINICAOACAOIMEDIATA##</td>
					</tr>
				</table>
				<table style="border-collapse: collapse;width: 100%;height: 50px; margin-bottom: 50px;">
					<tr style="height: 18px;">
						<td style="width: 33%; height: 18px;">Descrição do Risco</td>
					</tr>
					<tr style="height: 18px;">
						<td style="width: 33%; height: 18px;">##DESCRICAORISCO##</td>
					</tr>
				</table>
			</div>
		</div>
		<div>
			<h4>Ação Imediata</h4>
			<table style="border-collapse: collapse;width: 100%;height: 50px; margin-bottom: 20px;">
				<tr style="height: 18px;">
					<td style="width: 33.3333%; height: 18px;">Data da descrição da ação</td>
					<td style="width: 33.3333%; height: 18px;">Status</td>
				</tr>

				<tr style="height: 18px;">
					<td style="width: 33.3333%; height: 18px;">##DATADESCRICAOACAO##</td>
					<td style="width: 33.3333%; height: 18px;">##STATUS##</td>
				</tr>
			</table>

			<table style="border-collapse: collapse; width: 79.5302%; margin-bottom: 20px;" border="1">
				<tr>
					<td style="width: 20%;">Descrição</td>
					<td style="width: 20%;">Prazo Implementação</td>
					<td style="width: 20%;">Responsável por implementar</td>
					<td style="width: 20%;">Efetiva implementação</td>
					<td style="width: 20%;">Observação</td>
				</tr>
				##TBLACAOIMEDIATA##
			</table>

			<table style="border-collapse: collapse; width: 100%; height: 55px;  margin-bottom: 5px;">
				<tr style="height: 18px;">
					<td style="width: 20%; height: 18px;">Responsável por reverificação</td>
					<td style="width: 20%; height: 18px;">Foi Eficaz</td>
				</tr>
				<tr style="height: 18px;">
					<td style="width: 20%; height: 18px;">##RESPONSAVELREVERIFICACAO##</td>
					<td style="width: 20%; height: 18px;">##FOIEFICAZ##</td>
				</tr>
			</table>

			<table style="border-collapse: collapse; width: 100%; height: 55px;">
				<tr style="height: 18px;">
					<td style="width: 20%; height: 18px;">Causa</td>
				</tr>

				<tr style="height: 18px;">
					<td style="width: 20%; height: 18px;">##CAUSA##</td>
				</tr>
			</table>
			<table style="border-collapse: collapse; width: 100%; height: 55px;">
				<tr style="height: 18px;">
					<td style="width: 20%; height: 18px;">Justificativa</td>
				</tr>

				<tr style="height: 18px;">
					<td style="width: 20%; height: 18px;">##JUSTIFICATIVA##</td>
				</tr>
			</table>
			<table style="border-collapse: collapse; width: 100%; height: 55px;">
				<tr>
					<td colspan=3 style="width: 100%; height: 18px;">Parecer</td>
				</tr>
				<tr>
					<td colspan="3" style="width: 100%; height: 18px;">##PARECER##</td>
				</tr>
			</table>
			<table style="border-collapse: collapse; width: 100%; height: 55px;">
				<tr>
					<td colspan=3 style="width: 100%; height: 18px;">Status</td>
				</tr>
				<tr>
					<td colspan="3" style="width: 100%; height: 18px;">##STATUS##</td>
				</tr>
			</table>

		</div>

	</body>
</html>