<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></head>
	<body>
		<div>
			<table style="width: 655px; height: 20px;">
				<tbody>
					<tr style="height: 20px;">
						<td style="width: 130px; height: 20px;"><img src="##LOGO##"></td>
						<td style="width: 509px; height: 20px;">##NOMEEMPRESA##</td>
					</tr>
				</tbody>
			</table>
		</div>	
		<div>
			<h4>Indicador</h4>
			<div>
				<table style="border-collapse: collapse;width: 100%;height: 50px; margin-bottom: 15px;">
					<tr style="height: 18px;">
						<td style="width: 20%;height: 18px;">Processo</td>
						<td style="width: 20%; height: 18px;">Responsável</td>
						<td style="width: 20%; height: 18px;">Periodicidade Medição</td>
						<td style="width: 20%; height: 18px;">Periodicidade de Análise</td>
						<td style="width: 20%; height: 18px;">Sentido da meta</td>
					</tr>
					<tr style="height: 18px;">
						<td style="width: 20%; height: 18px;">##PROCESSO##</td>						
						<td style="width: 20%; height: 18px;">##RESPONSAVEL##</td>
						<td style="width: 20%; height: 18px;">##PERIODICIDADEMEDICAO##</td>
						<td style="width: 20%; height: 18px;">##PERIODICIDADEANALISE##</td>
						<td style="width: 20%; height: 18px;">##SENTIDOMETA##</td>
					</tr>
				</table>
				
				<table style="border-collapse: collapse;width: 100%; margin-bottom: 25px;">
					<tr style="height: 18px;">
						<td style="width: 40%; height: 18px;">Objetivo</td>
						<td style="width: 60%; height: 18px;">Indicador</td>
					</tr>
					<tr style="height: 18px; ">
						<td style="width: 40%; height: 18px; vertical-align: baseline;">##OBJETIVO##</td>
						<td style="width: 60%; height: 18px; vertical-align: baseline;">##INDICADOR##</td>
					</tr>
				</table>
				
				<table style="border-collapse: collapse;width: 100%;height: 50px; margin-bottom: 40px;">
					<tr style="height: 18px;">
						<td style="width: 25%; height: 18px;">Ano</td>
						<td style="width: 25%; height: 18px;">Meta</td>
						<td style="width: 25%; height: 18px;">Unidade</td>
						<td style="width: 25%; height: 18px;">Tipo Medida</td>
					</tr>
					<tr style="height: 18px;">
						<td style="width: 25%; height: 18px;">##ANO##</td>
						<td style="width: 25%; height: 18px;">##META##</td>
						<td style="width: 25%; height: 18px;">##UNIDADE##</td>
						<td style="width: 25%; height: 18px;">##TIPOMEDIDA##</td>
					</tr>
				</table>
				
	
				
				
				
			</div>
		</div>
		<div>
			<h4>Plano de Voo</h4>
			<table style="border-collapse: collapse;width: 100%;height: 50px; margin-bottom: 40px;">
					<tr style="height: 18px;">
						<td style="width: 8.33%; height: 18px;">Janeiro</td>
						<td style="width: 8.33%; height: 18px;">Favereiro</td>
						<td style="width: 8.33%; height: 18px;">Março</td>
						<td style="width: 8.33%; height: 18px;">Abril</td>
						<td style="width: 8.33%; height: 18px;">Maio</td>
						<td style="width: 8.33%; height: 18px;">Junho</td>
						<td style="width: 8.33%; height: 18px;">Julho</td>
						<td style="width: 8.33%; height: 18px;">Agosto</td>
						<td style="width: 8.33%; height: 18px;">Setembro</td>
						<td style="width: 8.33%; height: 18px;">Outubro</td>
						<td style="width: 8.33%; height: 18px;">Novembro</td>
						<td style="width: 8.33%; height: 18px;">Dezembro</td>
					</tr>
					<tr style="height: 18px;">
						<td style="width: 8.33%; height: 18px;">##JANEIRO##</td>
						<td style="width: 8.33%; height: 18px;">##FAVEREIRO##</td>
						<td style="width: 8.33%; height: 18px;">##MARCO##</td>
						<td style="width: 8.33%; height: 18px;">##ABRIL##</td>
						<td style="width: 8.33%; height: 18px;">##MAIO##</td>
						<td style="width: 8.33%; height: 18px;">##JUNHO##</td>
						<td style="width: 8.33%; height: 18px;">##JULHO##</td>
						<td style="width: 8.33%; height: 18px;">##AGOSTO##</td>
						<td style="width: 8.33%; height: 18px;">##SETEMBRO##</td>
						<td style="width: 8.33%; height: 18px;">##OUTUBRO##</td>
						<td style="width: 8.33%; height: 18px;">##NOVEMBRO##</td>
						<td style="width: 8.33%; height: 18px;">##DEZEMBRO##</td>
					</tr>
				</table>
		</div>
	</body>
</html>