<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></head>
	<body>
		<div>
			<table style="width: 655px; height: 20px;">
				<tbody>
					<tr style="height: 20px;">
						<td style="width: 130px; height: 20px;"><img src="##LOGO##"></td>
						<td style="width: 509px; height: 20px;">##NOMEEMPRESA##</td>
					</tr>
				</tbody>
			</table>
		</div>	

		<div>
			<h4>Instrumento</h4>
			<div>
				<table style="border-collapse: collapse;width: 100%;height: 50px; margin-bottom: 5px;">
					<tr style="height: 18px;">
						<td style="width: 66.6666%;height: 18px;">Instrumento</td>
						<td style="width: 33.3333%; height: 18px;">Status do Instrumento</td>
					</tr>
					<tr style="height: 18px;">
						<td style="width: 66.6666%; height: 18px;">##INSTRUMENTO##</td>
						<td style="width: 33.3333%; height: 18px;">##STATUSINSTRUMENTO##</td>
					</tr>
				</table>
				
				<table style="border-collapse: collapse;width: 100%;height: 50px; margin-bottom: 5px;">
					<tr style="height: 18px;">
						<td style="width: 33.3333%; height: 18px;">Sigla</td>
						<td style="width: 33.3333%; height: 18px;">Número</td>
						<td style="width: 33.3333%; height: 18px;">Marca</td>
					</tr>
					<tr style="height: 18px;">
						<td style="width: 33.3333%; height: 18px;">##SIGLA##</td>
						<td style="width: 33.3333%; height: 18px;">##NUMERO##</td>
						<td style="width: 33.3333%; height: 18px;">##MARCA##</td>
					</tr>
				</table>
				
				<table style="border-collapse: collapse;width: 100%;height: 50px; margin-bottom: 5px;">
					<tr style="height: 18px;">
						<td style="width: 33.3333%; height: 18px;">Modelo</td>
						<td style="width: 33.3333%; height: 18px;">Responsável</td>
						<td style="width: 33.3333%; height: 18px;">Local de Uso</td>
					</tr>
					<tr style="height: 18px;">
						<td style="width: 33.3333%; height: 18px;">##MODELO##</td>
						<td style="width: 33.3333%; height: 18px;">##RESPONSAVEL##</td>
						<td style="width: 33.3333%; height: 18px;">##LOCALUSO##</td>
					</tr>
				</table>
				
				<table style="border-collapse: collapse;width: 100%;height: 50px; margin-bottom: 5px;">
					<tr style="height: 18px;">
						<td style="width: 33.3333%; height: 18px;">Escala</td>
						<td style="width: 33.3333%; height: 18px;">Menor Divisão</td>
						<td style="width: 33.3333%; height: 18px;">Critério de Aceitação</td>
					</tr>
					<tr style="height: 18px;">
						<td style="width: 33.3333%; height: 18px;">##ESCALA##</td>
						<td style="width: 33.3333%; height: 18px;">##MENORDIVISAO##</td>
						<td style="width: 33.3333%; height: 18px;">##CRITERIOACEITACAO##</td>
					</tr>
				</table>
				
				
				<table style="border-collapse: collapse;width: 100%;height: 50px; margin-bottom: 5px;">
					<tr style="height: 18px;">
						<td style="width: 100%; height: 18px;">Observação</td>
					</tr>
					<tr style="width: 100%; padding-top: 10px;">
						<td style="width: 100%; ">##OBS##</td>
					</tr>
				</table>
				
			</div>
		</div>
		<div>
			<h4>Calibrações</h4>
			<table style="border-collapse: collapse;width: 100%;height: 50px; margin-bottom: 20px;">
				<tr style="height: 18px;">
					<td style="width: 16.66; height: 18px;">Nº Certificado</td>
					<td style="width: 16.66; height: 18px;">Data de Calibração</td>
					<td style="width: 16.66; height: 18px;">Próxima Calibração</td>
					<td style="width: 16.66; height: 18px;">Orgão Calibrador</td>
					<td style="width: 16.66; height: 18px;">Aprovado Por</td>
					<td style="width: 16.66; height: 18px;">Aprovado</td>
				</tr>
				
				##TBLCALIBRACOES##
		
			</table>			
		</div>
	</body>
</html>