<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>

    <p>
        Nome do cliente: #NomeCliente#
    </p>
    <p>
        Você está recebendo uma notificação do sistema de gestão e-Qualit, existe uma não conformidade no sistema a qual necessita sua intervenção.
    </p>
    <p>
        Por favor, acesse seu sistema de gestão, o módulo – Não Conformidade, vá ao registro número “#NuNaoConformidade#”.
    </p>
    <p>
        Acesse: http://testes.e-qualit.com.br/NaoConformidade/Editar/#NuRegistroConformidade#
    </p>
    <p>
        Obrigado (a).
    </p>
    <p>
        Não responda a esta mensagem.
    </p>   
</body>
</html>
