
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>

    <p>
        Nome do cliente: #NomeCliente#
    </p>
    <p>
        Você está recebendo uma notificação do sistema de gestão e-Qualit, existe uma Ação Corretiva no sistema a qual necessita sua intervenção.
    </p>
    <p>
        Por favor, acesse seu sistema de gestão, o módulo – Ação Corretiva, vá ao registro número “#NuAcaoCorretiva#”.
    </p>
    <p>
        Acesse:  #urlAcesso#
    </p>
    <p>
        Obrigado (a).
    </p>
    <p>
        Não responda a esta mensagem.
    </p>
</body>
</html>
