<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>

    <p>
        Nome do cliente: #NomeCliente#
    </p>
    <p>
        Você está recebendo uma notificação do sistema de gestão e-Qualit, existe uma ação imediata de uma gestão de risco de sua responsabilidade com prazo vencido.
    </p>
    <p>
        Por favor, acesse seu sistema de gestão, o módulo – Gestão de Risco, vá ao registro número “#NuRegistro#”.
    </p>
    <p>
        Acesse: #urlAcesso#
    </p>
    <p>
        Obrigado.
    </p>
    <p>
        Não responda a esta mensagem.
    </p>
</body>
</html>
