<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>

    <p>
        Você está recebendo uma notificação do sistema de gestão e-Qualit.
    </p>
    <p>
        O documento de nº #nroDoc#, com o título #titulo#, encontra-se pendente de sua verificação.
    </p>
    <p>
        Por favor, acesse seu sistema de gestão, no menu – Controle de Documentos, Verificar, para localizar o registro ou através do link abaixo:.<br>
        #linkAcesso#
    </p>
    <p>
        Obrigado.
    </p>
    <p>
        Não responda a esta mensagem.
    </p>
</body>
</html>
