@section Metas {
    <meta name="page" content="RelatorioColuna" />
}

@section scripts {
    <script src="@Url.Content("~/Content/assets/js/IndicadorController.js")"></script>

}

<div id="relatorios" class="col-md-12">
    <ul></ul>
</div>
