
@{
    ViewBag.Title = "Bloqueio";
}
<div class="container">

    <div class="col-xs-12 col-lg-12">

        <bloquote>
            <div class="bg-info" style="padding: 30px;">
                <p>
                    <span style="font-size:45px; color:#0088cc;">@Traducao.Resource.PorGentileza</span> <br> @Traducao.Resource.SelecioneProcessoIniciar
                </p>
            </div>
        </bloquote>


    </div>

</div>
