<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <p>
        Nome do cliente: #Responsavel#
    </p>
    <p>Você está recebendo uma notificação do sistema de gestão e-Qualit, existe uma licença no sistema a qual necessita sua intervenção.</p>
    <p>
        Por favor, acesse seu sistema de gestão, módulo – Gestão de Licença, Titulo #Titulo#.
    </p>
    <p>
        Acesse: www.equalit.com.br
    </p>
    <p>
        Obrigado (a).
    </p>
    <p>Não responda a esta mensagem.</p>
</body>
</html>
