<div id="wrapper" class="wrapper-toggle">
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li>
                
                <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                    <a href="#">Menu</a>
                </button>
            </li>
            <li>
                <a href="/ControlDoc/DocumentosElaboracao">Elaborar</a>
            </li>
            <li>
                <a href="/ControlDoc/DocumentosVerificacao">Verificar</a>
            </li>
            <li>
                <a href="/ControlDoc/DocumentosAprovacao">Aprovar</a>
            </li>
            <li>
                <a href="/ControlDoc/DocumentosAprovados">Revisar</a>
            </li>
        </ul>
    </nav>
</div>
