<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="SMTPServer" value="email-ssl.com.br" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPEnableSSL" value="false" />
    <add key="SMTPUser" value="notificacao@equalit.com.br" />
    <add key="SMTPPassword" value="Wschon@8803" />
    <add key="EmailDE" value="notificacao@equalit.com.br" />
    <add key="diasCorte" value="0"/>
    <add key="DiretorioLog" value="C:\Temp\"/>
  </appSettings>
  <connectionStrings>
    <!--prod ?-->
    <!--<add name="Context" connectionString="Data Source=13.59.111.159,1433\SQLEXPRESS;Initial Catalog=DesenvEqualit;Persist Security Info=True;User ID=sa;Password=!3xsolutions123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--local-->
    <!--<add name="Context" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=e-Qualit6; Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--HML-->
    <!--<add name="Context" connectionString="Data Source=191.252.56.108,1433\SQLEXPRESS;Initial Catalog=e-Qualit6_homolog;Persist Security Info=True;User ID=sa;Password=g2IT@2019;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <add name="Context" connectionString="Data Source=g2itSRV1\homolog01;Initial Catalog=novo_equalit;Persist Security Info=False;User ID=sa;Password=kafe2##9;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>