@{
    ViewBag.Title = "RelatorioBarras";
}
@section Metas {
    <meta name="page" content="RelatorioBarras" />
}

<h2>RelatorioBarras</h2>


<div id="relatorios" class="col-md-12">
    <ul>
        
    </ul>
</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>