<!-- Lista Cliente Sites -->
<div id="modal-panel-clientes-sites" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-times-circle-o black-color" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-original-title="Fechar"></i>
                </button>
                <h4 class="modal-title">Clientes</h4>
            </div>
            <div class="modal-body">
                <div class="panel">
                    <div class="barra-busca">
                        <div id="clientes">
							<!-- Lista de Clientes -->
							<div class="row row-box">

							</div>
                        </div>
                        <div id="sites">
							<!-- Lista de Sites -->
							<div class="row row-box">

							</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
