//Strong Password
/* strong-password.scss */

$color-pwd-info-muito-pequena: #ccc;
$color-pwd-info-fraca: #c06;
$color-pwd-info-media: #f60;
$color-pwd-info-forte: #3c0;
$color-pwd-info-muito-forte: #b91206;

$width-pwd-bar-muito-pequena: 5%;
$width-pwd-bar-fraca: 25%;
$width-pwd-bar-media: 50%;
$width-pwd-bar-forte: 75%;
$width-pwd-bar-muito-forte: 100%;

.pwd-validate {

    float: left; 
    width: 100%; 
    margin-bottom: 10px;
    padding: 0 10px;

    .pwd-validate-info-muito-pequena {
        color: $color-pwd-info-muito-pequena;
    }

    .pwd-validate-info-fraca {
        color: $color-pwd-info-fraca;
    }

    .pwd-validate-info-media {
        color: $color-pwd-info-media;
    }

    .pwd-validate-info-forte {
        color: $color-pwd-info-forte;
    }

    .pwd-validate-info-muito-forte {
        color: $color-pwd-info-muito-forte;
    }

    .pwd-validate-bar {

        border: 1px solid white;
        font-size: 1px;
        height: 5px;
    }

    .pwd-validate-bar-muito-pequena {
        background-color: $color-pwd-info-muito-pequena;
        width: $width-pwd-bar-muito-pequena;
    }

    .pwd-validate-bar-fraca {
        background-color: $color-pwd-info-fraca;
        width: $width-pwd-bar-fraca;
    }

    .pwd-validate-bar-media {
        background-color: $color-pwd-info-media;
        width: $width-pwd-bar-media;
    }

    .pwd-validate-bar-forte {
        background-color: $color-pwd-info-forte;
        width: $width-pwd-bar-forte;
    }

    .pwd-validate-bar-muito-forte{
        background-color: $color-pwd-info-muito-forte;
        width: $width-pwd-bar-muito-forte;
    }

}
