@using ApplicationService.Entidade
@using ApplicationService.Enum
@model Dominio.Entidade.Relatorio

@{
    ViewBag.Title = "Relatorios";

    var listaPermissoes = new List<PermissoesApp>();
    listaPermissoes.AddRange(ViewBag.Permissoes);

}
@section Metas {
    <meta name="page" content="IndexRelatorio" />
}



@section scripts {
    <script src="@Url.Content("~/Content/assets/js/RelatorioController.js?rnd=3")"></script>

}
<div id="main">
    <div class="content-painel">
        @using (Html.BeginForm(Model.Url, "Relatorio", FormMethod.Post, new { target = "_blank" }))
        {
            <div class="panel panel-default" id="panel-relatorio">
                <div class="panel-body" id="panel-form-relatorio">
                    <div class="barra-busca">
                        <div class="row">
                            <div class="col-lg-12">
                                @{
                                        Html.RenderPartial("Filtros/" + Model.Url + "Filtro", Model);
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-primary left">Gerar Relatório</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
</div>
