<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
      
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
   <appSettings>
      <add key="webpages:Version" value="3.0.0.0" />
      <add key="webpages:Enabled" value="false" />
      <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="true" />

      <add key="SMTPServer" value="smtp.mandrillapp.com" />
      <add key="SMTPPort" value="587" />
      <add key="SMTPUser" value="richade@infservice.com.br" />
      <add key="SMTPPassword" value="Y4VR-yigdCiLPWfC_3OUVQ" />
      <add key="EmailDE" value="silvestre.pinheiro@g2db.com.br" />
      <add key="DiretorioTemplates" value="C:\Projetos\TFS.WEB\Neocom\EmailMarketing\DEV_0.1\Web.UI\Templates" />
      <add key="EscreverEmailArquivo" value="C:\Temp\Neocom.txt" />

      <add key="Dominio" value="localhost:54907" />
      <add key="LogErro" value="Log_{0:yyyy-MM-dd}.txt" />
      <add key="CookieIdioma" value="__EQUALIT__" />
      <add key="NomeSistema" value="EQUALIT" />
   </appSettings>
   <connectionStrings>
      <!--<add name="Context" connectionString="Data Source=G2db.database.windows.net;Initial Catalog=EqualitNew;Persist Security Info=True;User ID=g2ituser;Password=G2it@2016;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
     <add name="Context" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=NewEqualit;Persist Security Info=True;User ID=sa;Password=kafe2##9;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
   </connectionStrings>
   <entityFramework>
      <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
         <parameters>
            <parameter value="mssqllocaldb" />
         </parameters>
      </defaultConnectionFactory>
      <providers>
         <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      </providers>
   </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
